<div>
    <div>
        <p>印刷範囲の選択</p>
        <app-sheet #grid [options]="options"></app-sheet>
    </div>
    <div *ngIf="printService.flg == 8 ||printService.flg == 9">
        <div class="print-choice">
            <ul class="fsec">
                <li>
                    <p>軸方向力</p>
                    <label style="width: 100%">
            <input type="checkbox" name="checkbox-print" class="checkbox-input" id="printCus0"
              [(ngModel)]="printCustomFsecService.fsecEditable[0]" />
            <span class="checkbox-parts">最大</span>
          </label>
                    <label style="width: 100%">
            <input type="checkbox" name="checkbox-print" class="checkbox-input" id="printCus0"
              [(ngModel)]="printCustomFsecService.fsecEditable[1]" />
            <span class="checkbox-parts">最小</span>
          </label>
                </li>
                <li>
                    <p>y軸方向のせん断力</p>
                    <label style="width: 100%">
            <input type="checkbox" name="checkbox-print" class="checkbox-input" id="printCus1"
              [(ngModel)]="printCustomFsecService.fsecEditable[2]" />
            <span class="checkbox-parts">最大</span>
          </label>
                    <label style="width: 100%">
            <input type="checkbox" name="checkbox-print" class="checkbox-input" id="printCus1"
              [(ngModel)]="printCustomFsecService.fsecEditable[3]" />
            <span class="checkbox-parts">最小</span>
          </label>
                </li>
                <li>
                    <p>z軸方向のせん断力</p>
                    <label style="width: 100%">
            <input type="checkbox" name="checkbox-print" class="checkbox-input" id="printCus1"
              [(ngModel)]="printCustomFsecService.fsecEditable[4]" />
            <span class="checkbox-parts">最大</span>
          </label>
                    <label style="width: 100%">
            <input type="checkbox" name="checkbox-print" class="checkbox-input" id="printCus1"
              [(ngModel)]="printCustomFsecService.fsecEditable[5]" />
            <span class="checkbox-parts">最小</span>
          </label>
                </li>
                <li>
                    <p>ねじりモーメント</p>
                    <label style="width: 100%">
            <input type="checkbox" name="checkbox-print" class="checkbox-input" id="printCus1"
              [(ngModel)]="printCustomFsecService.fsecEditable[6]" />
            <span class="checkbox-parts">最大</span>
          </label>
                    <label style="width: 100%">
            <input type="checkbox" name="checkbox-print" class="checkbox-input" id="printCus1"
              [(ngModel)]="printCustomFsecService.fsecEditable[7]" />
            <span class="checkbox-parts">最小</span>
          </label>
                </li>
                <li>
                    <p>y軸回りのモーメント</p>
                    <label style="width: 100%">
            <input type="checkbox" name="checkbox-print" class="checkbox-input" id="printCus1"
              [(ngModel)]="printCustomFsecService.fsecEditable[8]" />
            <span class="checkbox-parts">最大</span>
          </label>
                    <label style="width: 100%">
            <input type="checkbox" name="checkbox-print" class="checkbox-input" id="printCus1"
              [(ngModel)]="printCustomFsecService.fsecEditable[9]" />
            <span class="checkbox-parts">最小</span>
          </label>
                </li>
                <li>
                    <p>z軸回りのモーメント</p>
                    <label style="width: 100%">
            <input type="checkbox" name="checkbox-print" class="checkbox-input" id="printCus1"
              [(ngModel)]="printCustomFsecService.fsecEditable[10]" />
            <span class="checkbox-parts">最大</span>
          </label>
                    <label style="width: 100%">
            <input type="checkbox" name="checkbox-print" class="checkbox-input" id="printCus1"
              [(ngModel)]="printCustomFsecService.fsecEditable[11]" />
            <span class="checkbox-parts">最小</span>
          </label>
                </li>
            </ul>
        </div>
    </div>
</div>