<!-- <div *ngIf="printService.flg == 7 || printService.flg == 8" class="print-custom">
    <form>
        <select [(ngModel)]="printService.selectedIndex" (change)="onSelectChange($event.target.value)" name="first">
      <option *ngFor="let item of printService.printOption" [value]="item.id" [selected]="1">
        {{ item.name }}
      </option>
    </select>
    </form>
</div> -->

<div
  *ngIf="printService.flg == 1 && printCustomService.LL_exist === true"
  class="print-custom-fsec"
>
  <app-print-custom-disg> </app-print-custom-disg>
</div>

<div
  *ngIf="printService.flg == 2 || printService.flg == 3"
  class="print-custom-fsec"
>
  <app-print-custom-disg> </app-print-custom-disg>
</div>

<div
  *ngIf="printService.flg == 4 && printCustomService.LL_exist === true"
  class="print-custom-fsec"
>
  <app-print-custom-reac> </app-print-custom-reac>
</div>

<div
  *ngIf="printService.flg == 5 || printService.flg == 6"
  class="print-custom-fsec"
>
  <app-print-custom-reac> </app-print-custom-reac>
</div>

<div *ngIf="printService.flg == 7" class="print-custom-fsec">
  <app-print-custom-fsec> </app-print-custom-fsec>
</div>
<div *ngIf="printService.flg == 8" class="print-custom-fsec">
  <app-print-custom-fsec> </app-print-custom-fsec>
</div>
<div *ngIf="printService.flg == 9" class="print-custom-fsec">
  <app-print-custom-fsec> </app-print-custom-fsec>
</div>

<div *ngIf="printService.flg == 10 && printService.mode == 12">
  <app-print-custom-three> </app-print-custom-three>
</div>
