<div class="preset">
  <div class="presetArea">
    <div class="headArea">
      <h2 translate>Start menu</h2>
      <a routerLink="/" (click)="onPageBack()">×</a>
    </div>
    <div class="bodyArea">
      <div class="presetdata-choice">
        <div class="presetdata-choice-child">
          <div class="out-mat-icon">
            <mat-icon>control_point</mat-icon>
          </div>
          
          <span class="radio-parts">Start New</span>
        </div>
    
        <div class="presetdata-choice-child">
          <mat-icon>folder_open</mat-icon>
          <span class="radio-parts">Open file</span>
        </div>
     
        <div class="presetdata-choice-child">
          <mat-icon>view_module</mat-icon>
          <span class="radio-parts">Select Perset</span>
        </div>
      </div>
    </div>
  </div>
</div>