<div *ngIf="isEnable"  class="invoicetTable loadBasic">
  <div *ngIf="judge" class="pagerBreak"></div>
  <h2>基本荷重データ</h2>
  <div *ngFor="let dataset of loadName_dataset; index as i">
    <div *ngIf="i > 0" class="pagerBreak"></div>
    <table class="print-sm">
      <tr>
        <th class="case" colspan="4">Case</th>
        <th class="conditions" colspan="4">構造系条件</th>
      </tr>
      <tr>
        <th class="id">No</th>
        <th class="k">割増係数</th>
        <th class="sign">記号</th>
        <th class="name">荷重名称</th>
        <th class="node">支点</th>
        <th class="section">断面</th>
        <th class="spring">バネ</th>
        <th class="conection">結合</th>
      </tr>
      <tr *ngFor="let data of dataset">
        <td class="id">{{ data[0] }}</td>
        <td class="k">{{ data[1] }}</td>
        <td class="sign">{{ data[2] }}</td>
        <td class="word">{{ data[3] }}</td>
        <td class="node">{{ data[4] }}</td>
        <td class="section">{{ data[5] }}</td>
        <td class="spring">{{ data[6] }}</td>
        <td class="conection">{{ data[7] }}</td>
      </tr>
    </table>
  </div>
</div>
