<div *ngIf="isEnable" class="invoicetTable loadBasic">
  <div class="print-sm">
    <table>
      <thead>
        <tr>
          <th class="title" colspan="8">基本荷重データ</th>

        </tr>
        <tr>
          <th class="case" colspan="4">Case</th>
          <th class="conditions" colspan="4">構造系条件</th>
        </tr>
        <tr>
          <th class="id">No</th>
          <th class="k">割増係数</th>
          <th class="sign">記号</th>
          <th class="name">荷重名称</th>
          <th class="node">支点</th>
          <th class="section">断面</th>
          <th class="spring">バネ</th>
          <th class="conection">結合</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let dataset of loadName_dataset">
          <td class="id">{{ dataset[0] }}</td>
          <td class="k">{{ dataset[1] }}</td>
          <td class="sign">{{ dataset[2] }}</td>
          <td class="word">{{ dataset[3] }}</td>
          <td class="node">{{ dataset[4] }}</td>
          <td class="section">{{ dataset[5] }}</td>
          <td class="spring">{{ dataset[6] }}</td>
          <td class="conection">{{ dataset[7] }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>