#gui_css {
    position: fixed;
    top: 300px !important;
}

#download {
    display: none;
}

#myCanvas {
    position: relative;
}

#graphics-locator {
    display: none;
    max-width: 200px;
    max-height: 200px;
    width: 200px;
    height: 200px;
    background: 0 0;
    border: none;
    position: absolute;
    top: 500px;
    left: 500px;
    z-index: 11;
}

#graphics-locator>div {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(40,157,204,.1);
    border: 2px solid #289dcc;
    border-radius: 50%;
    margin-left: -50%;
    margin-top: -50%;
    z-index: 11;
}

// i.fas {
//     -webkit-font-smoothing: antialiased;
//     -moz-osx-font-smoothing: grayscale;
// }

// .camera {
//     top: 300px;
//     right: 20px;
//     position: absolute;
//     z-index: 2;
//     font-size: 30px;
//     color: #333333;
//     &:hover {
//         cursor: pointer;
//         opacity: 0.7;
//     }
// }
.home-button {
    position: absolute;
    z-index: 1;
    top: 100px;
    right: 130px;
    cursor: pointer;
}