#gui_css {
    position: fixed;
    top: 300px !important;
}

#download {
    display: none;
}

#myCanvas {
    position: relative;
}

i.fas {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.camera {
    bottom: 20px;
    right: 20px;
    position: absolute;
    z-index: 2;
    font-size: 30px;
    color: #333333;
    &:hover {
        cursor: pointer;
        opacity: 0.7;
    }
}

#max-min {
    position: absolute;
    top: 100;
    left: 10px;
    z-index: 2;
    p {
        margin-bottom: 4px;
    }
    td {
        text-align: center;
    }
}
