div.pq-toolbar button {
    margin: 0px 5px;
}
button.delete_btn {
    margin: -3px 0px;
}
.pq-row-delete {
    text-decoration: line-through;
}
.pq-row-delete > .pq-grid-cell {
    background-color: pink;
}

.datasheet {
    z-index: 1;
}
.description-table {
    position: absolute;
    padding: 20px 10px;
    border-radius: 4px;
    background: #fff;
        top: 130px;
        left: 24px;
    max-width: 431px;
    &::before {
        content: "";
        inset: 0;
        position: absolute;
        inset: -10%;
    }

    .container {
        position: relative;
        width: 100%;
        height: 100%;
        color: #1a1a1c;
        &::before {
            content: "";
            position: absolute;
            top: -32px;
            left: 50%;
            border-top: 5px solid transparent;
            border-bottom: 8px solid #fff;
            border-right: 8px solid transparent;
            border-left: 8px solid transparent;
            transform: translateX(-50%);
        }
    }
}