#max-min {
    position: absolute;
    display: block;
    top: 104;
    left: 0;
    z-index: 2;
    p {
        margin-bottom: 4px;
        font-size: 12px;
    }
    td {
        text-align: center;
    }
}