<div>
  <div class="print-choice">
    <ul class="disg">
      <li>
        <p translate>print.custom.print-custom-disg.x_movement</p>
        <label style="width: 100%">
          <input
            type="checkbox"
            name="checkbox-print"
            class="checkbox-input"
            id="printCus0"
            [(ngModel)]="printCustomDisgService.disgEditable[0]"
            (click)="printService.newPrintJson()"
          />
          <span class="checkbox-parts" translate>print.custom.print-custom-disg.max</span>
        </label>
        <label style="width: 100%">
          <input
            type="checkbox"
            name="checkbox-print"
            class="checkbox-input"
            id="printCus0"
            [(ngModel)]="printCustomDisgService.disgEditable[1]"
            (click)="printService.newPrintJson()"
          />
          <span class="checkbox-parts" translate>print.custom.print-custom-disg.min</span>
        </label>
      </li>
      <li>
        <p translate>print.custom.print-custom-disg.y_movement</p>
        <label style="width: 100%">
          <input
            type="checkbox"
            name="checkbox-print"
            class="checkbox-input"
            id="printCus1"
            [(ngModel)]="printCustomDisgService.disgEditable[2]"
            (click)="printService.newPrintJson()"
          />
          <span class="checkbox-parts" translate>print.custom.print-custom-disg.max</span>
        </label>
        <label style="width: 100%">
          <input
            type="checkbox"
            name="checkbox-print"
            class="checkbox-input"
            id="printCus1"
            [(ngModel)]="printCustomDisgService.disgEditable[3]"
            (click)="printService.newPrintJson()"
          />
          <span class="checkbox-parts" translate>print.custom.print-custom-disg.min</span>
        </label>
      </li>
      <li>
        <p translate>print.custom.print-custom-disg.z_movement</p>
        <label style="width: 100%">
          <input
            type="checkbox"
            name="checkbox-print"
            class="checkbox-input"
            id="printCus1"
            [(ngModel)]="printCustomDisgService.disgEditable[4]"
            (click)="printService.newPrintJson()"
          />
          <span class="checkbox-parts" translate>print.custom.print-custom-disg.max</span>
        </label>
        <label style="width: 100%">
          <input
            type="checkbox"
            name="checkbox-print"
            class="checkbox-input"
            id="printCus1"
            [(ngModel)]="printCustomDisgService.disgEditable[5]"
            (click)="printService.newPrintJson()"
          />
          <span class="checkbox-parts" translate>print.custom.print-custom-disg.min</span>
        </label>
      </li>
      <li>
        <p translate>print.custom.print-custom-disg.x_rotationalAngle</p>
        <label style="width: 100%">
          <input
            type="checkbox"
            name="checkbox-print"
            class="checkbox-input"
            id="printCus1"
            [(ngModel)]="printCustomDisgService.disgEditable[6]"
            (click)="printService.newPrintJson()"
          />
          <span class="checkbox-parts" translate>print.custom.print-custom-disg.max</span>
        </label>
        <label style="width: 100%">
          <input
            type="checkbox"
            name="checkbox-print"
            class="checkbox-input"
            id="printCus1"
            [(ngModel)]="printCustomDisgService.disgEditable[7]"
            (click)="printService.newPrintJson()"
          />
          <span class="checkbox-parts" translate>print.custom.print-custom-disg.min</span>
        </label>
      </li>
      <li>
        <p translate>print.custom.print-custom-disg.y_rotationalAngle</p>
        <label style="width: 100%">
          <input
            type="checkbox"
            name="checkbox-print"
            class="checkbox-input"
            id="printCus1"
            [(ngModel)]="printCustomDisgService.disgEditable[8]"
            (click)="printService.newPrintJson()"
          />
          <span class="checkbox-parts" translate>print.custom.print-custom-disg.max</span>
        </label>
        <label style="width: 100%">
          <input
            type="checkbox"
            name="checkbox-print"
            class="checkbox-input"
            id="printCus1"
            [(ngModel)]="printCustomDisgService.disgEditable[9]"
            (click)="printService.newPrintJson()"
          />
          <span class="checkbox-parts" translate>print.custom.print-custom-disg.min</span>
        </label>
      </li>
      <li>
        <p translate>print.custom.print-custom-disg.z_rotationalAngle</p>
        <label style="width: 100%">
          <input
            type="checkbox"
            name="checkbox-print"
            class="checkbox-input"
            id="printCus1"
            [(ngModel)]="printCustomDisgService.disgEditable[10]"
            (click)="printService.newPrintJson()"
          />
          <span class="checkbox-parts" translate>print.custom.print-custom-disg.max</span>
        </label>
        <label style="width: 100%">
          <input
            type="checkbox"
            name="checkbox-print"
            class="checkbox-input"
            id="printCus1"
            [(ngModel)]="printCustomDisgService.disgEditable[11]"
            (click)="printService.newPrintJson()"
          />
          <span class="checkbox-parts" translate>print.custom.print-custom-disg.min</span>
        </label>
      </li>
    </ul>
  </div>
</div>
