<div>
  <div class="print-choice">
    <ul class="disg">
      <li>
        <p>x方向の移動量</p>
        <label style="width: 100%">
          <input
            type="checkbox"
            name="checkbox-print"
            class="checkbox-input"
            id="printCus0"
            [(ngModel)]="printCustomDisgService.disgEditable[0]"
          />
          <span class="checkbox-parts">最大</span>
        </label>
        <label style="width: 100%">
          <input
            type="checkbox"
            name="checkbox-print"
            class="checkbox-input"
            id="printCus0"
            [(ngModel)]="printCustomDisgService.disgEditable[1]"
          />
          <span class="checkbox-parts">最小</span>
        </label>
      </li>
      <li>
        <p>y方向の移動量</p>
        <label style="width: 100%">
          <input
            type="checkbox"
            name="checkbox-print"
            class="checkbox-input"
            id="printCus1"
            [(ngModel)]="printCustomDisgService.disgEditable[2]"
          />
          <span class="checkbox-parts">最大</span>
        </label>
        <label style="width: 100%">
          <input
            type="checkbox"
            name="checkbox-print"
            class="checkbox-input"
            id="printCus1"
            [(ngModel)]="printCustomDisgService.disgEditable[3]"
          />
          <span class="checkbox-parts">最小</span>
        </label>
      </li>
      <li>
        <p>z方向の移動量</p>
        <label style="width: 100%">
          <input
            type="checkbox"
            name="checkbox-print"
            class="checkbox-input"
            id="printCus1"
            [(ngModel)]="printCustomDisgService.disgEditable[4]"
          />
          <span class="checkbox-parts">最大</span>
        </label>
        <label style="width: 100%">
          <input
            type="checkbox"
            name="checkbox-print"
            class="checkbox-input"
            id="printCus1"
            [(ngModel)]="printCustomDisgService.disgEditable[5]"
          />
          <span class="checkbox-parts">最小</span>
        </label>
      </li>
      <li>
        <p>x軸回りの回転角</p>
        <label style="width: 100%">
          <input
            type="checkbox"
            name="checkbox-print"
            class="checkbox-input"
            id="printCus1"
            [(ngModel)]="printCustomDisgService.disgEditable[6]"
          />
          <span class="checkbox-parts">最大</span>
        </label>
        <label style="width: 100%">
          <input
            type="checkbox"
            name="checkbox-print"
            class="checkbox-input"
            id="printCus1"
            [(ngModel)]="printCustomDisgService.disgEditable[7]"
          />
          <span class="checkbox-parts">最小</span>
        </label>
      </li>
      <li>
        <p>y軸回りの回転角</p>
        <label style="width: 100%">
          <input
            type="checkbox"
            name="checkbox-print"
            class="checkbox-input"
            id="printCus1"
            [(ngModel)]="printCustomDisgService.disgEditable[8]"
          />
          <span class="checkbox-parts">最大</span>
        </label>
        <label style="width: 100%">
          <input
            type="checkbox"
            name="checkbox-print"
            class="checkbox-input"
            id="printCus1"
            [(ngModel)]="printCustomDisgService.disgEditable[9]"
          />
          <span class="checkbox-parts">最小</span>
        </label>
      </li>
      <li>
        <p>z軸回りの回転角</p>
        <label style="width: 100%">
          <input
            type="checkbox"
            name="checkbox-print"
            class="checkbox-input"
            id="printCus1"
            [(ngModel)]="printCustomDisgService.disgEditable[10]"
          />
          <span class="checkbox-parts">最大</span>
        </label>
        <label style="width: 100%">
          <input
            type="checkbox"
            name="checkbox-print"
            class="checkbox-input"
            id="printCus1"
            [(ngModel)]="printCustomDisgService.disgEditable[11]"
          />
          <span class="checkbox-parts">最小</span>
        </label>
      </li>
    </ul>
  </div>
</div>
