<div  *ngIf="isEnable" class="invoicetTable">
  <div *ngIf="judge" class="pagerBreak"></div>
    <h2>DEFINEデータ</h2>
    <div *ngFor="let dataset of define_dataset index as i">
        <div *ngIf="i > 0" class="pagerBreak"></div>
        <table class="print-sm">
            <tr>
                <th class="id">DefineNo.</th>
                <th class="k">C1</th>
                <th class="sign">C2</th>
                <th class="name">C3</th>
                <th class="node">C4</th>
                <th class="section">C5</th>
                <th class="spring">C6</th>
                <th class="conection">C7</th>
                <th class="conection">C8</th>
                <th class="conection">C9</th>
                <th class="conection">C10</th>
            </tr>
            <tr *ngFor="let data of dataset">
                <td class="id">{{data[0]}}</td>
                <td class="k">{{data[1]}}</td>
                <td class="sign">{{data[2]}}</td>
                <td class="name">{{data[3]}}</td>
                <td class="node">{{data[4]}}</td>
                <td class="section">{{data[5]}}</td>
                <td class="spring">{{data[6]}}</td>
                <td class="conection">{{data[7]}}</td>
                <td class="conection">{{data[8]}}</td>
                <td class="conection">{{data[9]}}</td>
                <td class="conection">{{data[10]}}</td>
            </tr>
        </table>
    </div>
</div>