$border-color: #428bca; // ボーダーライン
@media print {
  .title-and-menu {
    display: none;
  }
  #contents-dialog-id {
    display: none;
  }
  @page {
    size: A4;
  }
}

.op {
  opacity: 0;
}

html,
body {
  overflow: hidden;
}

.header {
  display: flex;
  color: var(--text_main);
  background-color: var(--base);
  z-index: 10;
  .container {
    position: relative;
    max-width: 100%;
    padding: 0 8px !important;
  }
}

.input-area,
.output-area {
  display: flex;
  margin: 8px auto 0 auto;
  flex-direction: column;
  padding-right: 4px;
  row-gap: 8px;
  width: 48px;
}
.input-area {
  margin-bottom: 16px;
}

.guide {
  margin: 0 auto;
  font-size: 8px;
  text-align: center;
  font-weight: 550;
}

.btn-group {
  position: absolute;
  z-index: 2;
  top: 84px;
  bottom: 0px;
  backdrop-filter: blur(8px);
  a {
    text-decoration: none;
    line-height: normal;
    margin: 0;
    font-size: 12px;
    display: inline-block;
    text-align: center;

    p {
      margin: 0 0 0 10px;
      font-size: 12px;
      display: none;
      white-space: nowrap;
    }
    &.disabled {
      p {
        color: #a0a0a0;
      }
    }
  }
  .hr {
    width: 32px;
    margin: 8px 0 8px 4px;
    background-color: #c2c2c2;
    height: 2px;
    border-radius: 8px;
    border: none;
  }
}

.btn-change {
  text-decoration: none;
  min-width: 100px !important;
  min-height: 36px;
  padding: 8px 0;
  line-height: normal;
  margin: 0;
  font-size: 12px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  background-color: #f5f5f5;
  border: 0.5px solid #c0c0c0;
  &:first-child {
    border-radius: 4px 0 0 4px;
  }
  &:last-child {
    border-radius: 0 4px 4px 0;
  }
  &:hover {
    cursor: pointer;
    opacity: 0.7;
    color: #ffffff;
    background-color: #669987;
  }
  &:active {
    background-color: #669987;
  }
  &:not(:disabled):not(.disabled).active {
    color: #ffffff;
    background-color: #669987;
  }
}

.btn-wrap {
  position: relative;
  .explain-area {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s cubic-bezier(0.075, 0.82, 0.165, 1),
      visibility 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    padding: 14px 18px;
    top: -10px;
    right: -214px;
    color: var(--text_main);
    background-color: var(--base);
    transition-delay: 0s;
    text-align: left;
    width: 210px;
    border-radius: 4px;
    .item-name {
      font-size: 14px;
      font-weight: 900;
    }
    .item-description {
      margin-top: 8px;
      font-size: 11px;
      font-weight: 900;
    }
    .btn {
      margin-top: 8px;
      padding: 7px 8px;
      border: 1px solid var(--text_main);
      font-size: 12px;
      font-weight: 900;
      &:hover {
        background: var(--text_main);
        color: var(--primary);
        opacity: 0.9;
      }
    }
    &::before {
      content: "";
      position: absolute;
      opacity: 0;
      visibility: hidden;
      transition: opacity 1s cubic-bezier(0.075, 0.82, 0.165, 1),
        visibility 1s cubic-bezier(0.075, 0.82, 0.165, 1);
      top: 20px;
      left: -7px;
      border-top: 5px solid transparent;
      border-bottom: 5px solid transparent;
      border-right: 8px solid var(--base);
    }
  }
  &:hover {
    .explain-area {
      opacity: 1;
      visibility: visible;
      transition-delay: 0.6s;
      &::before {
        opacity: 1;
        visibility: visible;
        transition-delay: 0.6s;
      }
    }
  }
}

.btn-blue {
  color: #333333;
}

.btn-blue:hover {
  cursor: pointer;
}

.btn-blue:not(:disabled):not(.disabled).active {
  border-radius: 100px;
  color: #ffffff;
  svg {
    border-radius: 100px;
    background: #5095fc;
  }
  rect {
    fill: #fff;
  }
  path {
    fill: #5095fc;
    stroke: #fff;
  }
  circle {
    stroke: #fff;
    fill: #5095fc;
  }
}
.btn-blue.disabled {
  cursor: inherit;

  rect {
    fill: #a0a0a0;
  }
  path {
    fill: #cdcdcd;
    stroke: #a0a0a0;
  }
  circle {
    stroke: #a0a0a0;
    fill: #cdcdcd;
  }
  &:hover {
    cursor: inherit;
    opacity: 1;
    color: inherit;
  }
}
.icon-calc {
  background: var(--base);
  max-width: 40px;
  padding: 8px 0;
  margin: 0 auto;
  border-radius: 4px;
}
.icon-img {
  background: rgba(0, 0, 0, 0.15);
  border-radius: 100px;
  max-width: 32px;
  margin: 0 4px;
}

.btn-blue,
.btn-calc {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  cursor: pointer;
  &:hover {
    opacity: 0.7;
  }
}

.toggle-button {
  position: absolute;
  bottom: 8px;
  left: 0;
  background-color: transparent;
  svg {
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
}

.toggled {
  a {
    p {
      display: block;
    }
  }
  .btn-wrap {
    .explain-area {
      right: -226px;
    }
  }
  .input-area,
  .output-area {
    width: 100%;
  }
  .icon-calc {
    background: rgba(0, 0, 0, 0);
    margin: 0 0 0 10px;
  }
  .icon-img {
    background: rgba(0, 0, 0, 0);
    margin: 0;
  }
  .btn-calc {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: #1e252c;
    color: #fff;
    width: 100%;
    margin-left: 2px;
    border-radius: 4px;
    transition: width 0.2s;
    cursor: pointer;
    &:hover {
      opacity: 0.85;
    }
  }
  .btn-blue {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 4px;
    background: rgba(0, 0, 0, 0.15);
    border-radius: 100px;
    transition: width 0.2s;
    padding-right: 15px;
    &:not(:disabled):not(.disabled).active:hover {
      opacity: 0.8;
    }
    &.close {
      &:hover {
        background-color: transparent;
      }
    }
  }

  .btn-blue:not(:disabled):not(.disabled).active {
    background: #5095fc;
  }
  .toggle-button {
    background: transparent;
    svg {
      transform: rotate(180deg);
    }
  }
  .hr {
    width: 100%;
  }
}

.body-container {
  top: 53px;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  word-wrap: break-word;
  /* IEやFirefox対応用 */
  overflow-wrap: break-word;
  #print-loading {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    svg {
      width: 60px;
      margin-bottom: 8px;
      text-align: center;
    }
    p {
      font-size: 10px;
      text-align: center;
    }
  }
  .nav-left-body-container{
    height: calc(100vh - 130px);
    overflow-y: auto;
    overflow-x: hidden;
  }
}

.three-container {
  width: 100%;
}

.contents-dailog {
  border: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  min-width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #fff;
  border-radius: 4px;
  position: fixed;
  top: 150px;
  left: 16px;
  margin: 0;
  z-index: 1048;
  overflow: scroll;
  display: inline;
  resize: both;
  transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.contents-dailog:active {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.dialog-close-button {
  background-color: #f5f5f5;
  border: 1px solid #f5f5f5;
  min-height: 30px;
  min-width: 50px;
  padding: 2px;
  span {
    font-size: 20px;
    color: #333333;
  }
}

.dialog-close-button:hover {
  opacity: 0.7;
  background-color: #ee0000;
  padding: 2px;
}

.dialog-header {
  display: flex;
  color: #fff;
  background-color: #333333;
  height: 30px;
  .dialog-drag-handle {
    padding: 4px 16px 8px 16px;
    cursor: move;
    width: 100%;
  }
}

#myCanvas {
  width: 100% !important;
}

.pagerArea {
  .pager {
    &.type {
      margin: 10 0.5 0 100;
      .pager-title {
        float: left;
      }
      .ngb-pagination {
        float: left;
      }
      display: inline-block;
    }
  }
  .tabset {
    margin-left: 15px;
    z-index: 110;
    cursor: auto;
  }
  button {
    display: none;
  }
  display: inline-block;
  .pagenation {
    display: flex;
    color: #333333;
    padding: 0;
    list-style: none;
    li {
      a {
        display: block;
        min-width: 40px;
        padding: 8px;
        color: #333333;
        margin: 0 8px;
        &:hover {
          cursor: pointer;
          opacity: 0.7;
          color: #333333;
          background-color: #f5f5f5;
        }
        &:active {
          background-color: #113800;
        }
        &:not(:disabled):not(.disabled).active {
          color: #ffffff;
          background-color: #113800;
        }
      }
    }
  }
}

.pageNum {
  padding: 8px;
  border: 1px solid #333333;
  border-radius: 4px;
  text-align: center;
}

.move_case {
  display: flex;
  align-items: center;
  .circle {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #f5f5f5;
  }
  li {
    margin: 0 4px;
    a {
      &:hover {
        cursor: pointer;
        opacity: 0.7;
        background-color: #333;
      }
      &.active {
        background-color: #333;
      }
    }
  }
}

.LL_area {
  margin-bottom: 16px;
  form {
    mat-form-field {
      &:first-child {
        margin-right: 8px;
      }
    }
  }
}

//リセット

/*! destyle.css v2.0.2 | MIT License | https://github.com/nicolas-cusan/destyle.css */

/* Reset box-model and set borders */

/* ============================================ */

*,
// ::before,
// ::after {
//   box-sizing: border-box;
//   border-style: solid;
//   border-width: 0;
// }

/* Document */


/* ============================================ */


/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */

html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-tap-highlight-color: transparent;
  /* 3*/
}

/* Sections */

/* ============================================ */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/* Vertical rhythm */

/* ============================================ */

p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */

/* ============================================ */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */

/* ============================================ */

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */

/* ============================================ */

dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */

/* ============================================ */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */

/* ============================================ */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content */

/* ============================================ */

/**
 * Prevent vertical alignment issues.
 */

img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */

/* ============================================ */

/**
 * Reset form fields to make them styleable
 */

button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  outline: 0;
  border-radius: 0;
  text-align: inherit;
}

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */

[type="checkbox"] {
  -webkit-appearance: checkbox;
  appearance: checkbox;
}

[type="radio"] {
  -webkit-appearance: radio;
  appearance: radio;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer;
  padding: 8px;
  -webkit-appearance: none;
  appearance: none;
}

button[disabled],
[type="button"][disabled],
[type="reset"][disabled],
[type="submit"][disabled] {
  cursor: default;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Remove arrow in IE10 & IE11
 */

select::-ms-expand {
  display: none;
}

/**
 * Remove padding
 */

option {
  padding: 0;
}

/**
 * Reset to invisible
 */

fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */

[type="search"] {
  outline-offset: -2px;
  /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Clickable labels
 */

label[for] {
  cursor: pointer;
}

/* Interactive */

/* ============================================ */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */

[contenteditable] {
  outline: none;
}

/* Table */

/* ============================================ */

// table {
//     border-collapse: collapse;
//     border-spacing: 0;
// }
// caption {
//     text-align: left;
// }
// td,
// th {
//   vertical-align: top;
//   padding: 0;
//   line-height: 16px;
// }
// td {
//     text-align: right;
//     padding: 4px;
// }
// th {
//   text-align: center;
//   font-size: 11px;
//   // font-weight: bold;
//   font-weight: 400;
//   padding: 4px 3px;
//   vertical-align: middle;
// }

/* Misc */

/* ============================================ */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}
