.layout-choice {
    margin-top: 15px;
}

.property-title {
    display: inline-block;
    text-align: left;
    width: 40px;
}
.property-value {
    display: inline-block;
    text-align: left;
    width: 90px;
}
