<div class="print">
  <div class="printdata-choice">
    <h2 translate>print.SelectPrintData</h2>
    <div class="print-choice">
      <ul>
        <li>
          <label style="width: 100%">
            <input
              type="radio"
              name="radio-print"
              class="radio-input"
              checked
              id="result0"
              (click)="printService.selectRadio(0)"
            />
            <span class="radio-parts" translate>print.inputData</span>
          </label>
        </li>
        <ng-container *ngIf="ResultData.isCalculated">
          <li>
            <label style="width: 100%">
              <input
                type="radio"
                name="radio-print"
                class="radio-input"
                id="print1"
                (click)="printService.selectRadio(1)"
              />
              <span class="radio-parts" translate>print.displacement</span>
            </label>
          </li>
          <li>
            <label style="width: 100%">
              <input
                type="radio"
                name="radio-print"
                class="radio-input"
                id="print2"
                (click)="printService.selectRadio(2)"
              />
              <span class="radio-parts" translate>print.combine_displacement</span>
            </label>
          </li>
          <li>
            <label style="width: 100%">
              <input
                type="radio"
                name="radio-print"
                class="radio-input"
                id="print3"
                (click)="printService.selectRadio(3)"
              />
              <span class="radio-parts" translate>print.pickup_displacement</span>
            </label>
          </li>
          <li>
            <label style="width: 100%">
              <input
                type="radio"
                name="radio-print"
                class="radio-input"
                id="print4"
                (click)="printService.selectRadio(4)"
              />
              <span class="radio-parts" translate>print.reaction</span>
            </label>
          </li>
          <li>
            <label style="width: 100%">
              <input
                type="radio"
                name="radio-print"
                class="radio-input"
                id="print5"
                (click)="printService.selectRadio(5)"
              />
              <span class="radio-parts" translate>print.combine_reaction</span>
            </label>
          </li>
          <li>
            <label style="width: 100%">
              <input
                type="radio"
                name="radio-print"
                class="radio-input"
                id="print6"
                (click)="printService.selectRadio(6)"
              />
              <span class="radio-parts" translate>print.pickup_reaction</span>
            </label>
          </li>
          <li>
            <label style="width: 100%">
              <input
                type="radio"
                name="radio-print"
                class="radio-input"
                id="print7"
                (click)="printService.selectRadio(7)"
              />
              <span class="radio-parts" translate>print.SectionForce</span>
            </label>
          </li>
          <li>
            <label style="width: 100%">
              <input
                type="radio"
                name="radio-print"
                class="radio-input"
                id="print8"
                (click)="printService.selectRadio(8)"
              />
              <span class="radio-parts" translate>print.combine_SectionForce</span>
            </label>
          </li>
          <li>
            <label style="width: 100%">
              <input
                type="radio"
                name="radio-print"
                class="radio-input"
                id="print9"
                (click)="printService.selectRadio(9)"
              />
              <span class="radio-parts" translate>print.pickup_SectionForce</span>
            </label>
          </li>
        </ng-container>
        <li>
          <label style="width: 100%">
            <input
              type="radio"
              name="radio-print"
              class="radio-input"
              id="print10"
              (click)="printService.selectRadio(10)"
            />
            <span class="radio-parts" translate>print.PrintScreen</span>
          </label>
        </li>
      </ul>
    </div>

    <div class="print-ing">
      <label>
        <input
          id="printButton"
          type="button"
          name="printButton"
          value="{{'print.prt'| translate }}"
          (click)="onPrintPDF()"
        />
      </label>

      <div class="message">
        <p *ngIf="printService.pageDisplay">
          {{'print.pages'| translate }}
          {{ printService.pageCount }}
          {{'print.about'| translate }}
        </p>
        <p *ngIf="printService.pageError" class="caution" translate>
          print.noDataFound
        </p>
        <p *ngIf="printService.pageOver" class="caution" translate>
          print.about1000
        </p>
      </div>
    </div>
  </div>

  <ng-container *ngIf="ResultData.isCalculated">
    <app-print-custom> </app-print-custom>
  </ng-container>
  <ng-container *ngIf="!ResultData.isCalculated">
    <div></div>
  </ng-container>
</div>
