<div class="datasheet_inner" [style.width.px]="LL_flg===false?width1:width2">

    <div class="boxContainer">
        <div class="btn-group">
            <nav>
                <a routerLink="/input-load-name" routerLinkActive="selected-item" class="btn-change">荷重名称</a>
                <a routerLink="/input-loads" routerLinkActive="selected-item" class="btn-change active">荷重強度</a>
            </nav>
        </div>

        <div class="pager">
            <app-pager (event)="onReceiveEventFromChild($event)"></app-pager>
        </div>

        <div class="load-name">
            <p>{{ load_name }}</p>
        </div>
    </div>

    <div *ngIf="LL_flg === false">
        <app-sheet #grid [options]="options1"></app-sheet>
    </div>
    <div *ngIf="LL_flg === true">
        <div class="LL_area">
            <form [formGroup]="LL_Control">
                <mat-form-field>
                    <label>対象長さ</label>
                    <input type="number" min="1" step="1" matInput matType="number" formControlName="LL_length" (change)="click()" class="pageNum">
                </mat-form-field>
                <mat-form-field>
                    <label>ピッチ</label>
                    <input type="number" min="1" step="1" matInput matType="number" formControlName="LL_pitch" (change)="click()" class="pageNum">
                </mat-form-field>
                <button mat-raised-button (click)="click()" style="display: none;">click</button>
            </form>
        </div>
        <app-sheet #grid [options]="options2"></app-sheet>
    </div>
</div>