<div *ngIf="isEnable" class="invoicetTable fixNode">
    <div class="print-lg">
        <div *ngFor="let title of fixNode_typeNum; index as i">
            <table>
                <div *ngIf="i==0">
                    <h2>支点データ</h2>
                </div>
                <div *ngIf="dimension===3">
                    <thead>
                        <tr>
                            <th colspan="7" class="type">タイプ{{title}}</th>
                        </tr>
                        <tr>
                            <th class="id">格点No</th>
                            <th class="TX">TX</th>
                            <th class="TY">TY</th>
                            <th class="TZ">TZ</th>
                            <th class="RX">RX</th>
                            <th class="RY">RY</th>
                            <th class="RZ">RZ</th>
                        </tr>
                        <tr>
                            <th class="id"></th>
                            <th class="TX">(kN/m)</th>
                            <th class="TY">(kN/m)</th>
                            <th class="TZ">(kN/m)</th>
                            <th class="RX"></th>
                            <th class="RY">y軸周り</th>
                            <th class="RZ">z軸周り</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let dataset of fixNode_table[i]">
                            <td class="id">{{dataset[0]}}</td>
                            <td class="TX">{{dataset[1]}}</td>
                            <td class="TY">{{dataset[2]}}</td>
                            <td class="TZ">{{dataset[3]}}</td>
                            <td class="RX">{{dataset[4]}}</td>
                            <td class="RY">{{dataset[5]}}</td>
                            <td class="RZ">{{dataset[6]}}</td>
                        </tr>
                    </tbody>
                </div>
                <div *ngIf="dimension===2">
                    <thead>
                        <tr>
                            <th colspan="6" class="type">タイプ{{title}}</th>
                        </tr>
                        <tr>
                            <th class="id">格点No</th>
                            <th class="TX">TX</th>
                            <th class="TY">TY</th>
                            <th class="RZ">RZ</th>
                        </tr>
                        <tr>
                            <th class="id"></th>
                            <th class="TX">(kN/m)</th>
                            <th class="TY">(kN/m)</th>
                            <th class="RZ">(kN•m/rad)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let dataset of fixNode_table[i]">
                            <td class="id">{{dataset[0]}}</td>
                            <td class="TX">{{dataset[1]}}</td>
                            <td class="TY">{{dataset[2]}}</td>
                            <td class="RZ">{{dataset[6]}}</td>
                        </tr>
                    </tbody>
                </div>
            </table>
        </div>
    </div>
</div>