<div *ngIf="isEnable"  class="invoicetTable fixNode">
  <div *ngIf="judge" class="pagerBreak"></div>
    <h2>支点データ</h2>
    <div *ngFor="let title of fixNode_typeNum; index as i">
        <div *ngIf="fixNode_break[i]" class="pagerBreak"></div>
        <h3>タイプ {{title}}</h3>
        <div *ngFor="let fixNode_dataset of fixNode_table[i]; index as j">
            <div *ngIf="j > 0" class="pagerBreak"></div>
            <table class="print-lg">
                <div *ngIf="dimension===3">
                    <tr>
                        <th class="id">格点No</th>
                        <th class="TX">TX</th>
                        <th class="TY">TY</th>
                        <th class="TZ">TZ</th>
                        <th class="RX">RX</th>
                        <th class="RY">RY</th>
                        <th class="RZ">RZ</th>
                    </tr>
                    <tr>
                        <th class="id"></th>
                        <th class="TX">(kN/m)</th>
                        <th class="TY">(kN/m)</th>
                        <th class="TZ">(kN/m)</th>
                        <th class="RX"></th>
                        <th class="RY">y軸周り</th>
                        <th class="RZ">z軸周り</th>
                    </tr>
                    <tr *ngFor="let data of fixNode_dataset">
                        <td class="id">{{data[0]}}</td>
                        <td class="TX">{{data[1]}}</td>
                        <td class="TY">{{data[2]}}</td>
                        <td class="TZ">{{data[3]}}</td>
                        <td class="RX">{{data[4]}}</td>
                        <td class="RY">{{data[5]}}</td>
                        <td class="RZ">{{data[6]}}</td>
                    </tr>
                </div>
                <div *ngIf="dimension===2">
                    <tr>
                        <th class="id">格点No</th>
                        <th class="TX">TX</th>
                        <th class="TY">TY</th>
                        <th class="RZ">RZ</th>
                    </tr>
                    <tr>
                        <th class="id"></th>
                        <th class="TX">(kN/m)</th>
                        <th class="TY">(kN/m)</th>
                        <th class="RZ">(kN•m/rad)</th>
                    </tr>
                    <tr *ngFor="let data of fixNode_dataset">
                        <td class="id">{{data[0]}}</td>
                        <td class="TX">{{data[1]}}</td>
                        <td class="TY">{{data[2]}}</td>
                        <td class="RZ">{{data[6]}}</td>
                    </tr>
                </div>
            </table>
        </div>
    </div>
</div>