tbody {
    max-height: calc(100vh - 750px);
}

.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    >a {
        display: block;
        margin: 0 16px;
        padding: 8px;
        // background-color: #002060;
        // border-radius: 50%;
    }
    .card {
        box-shadow: 2px 2px 4px;
        .card-header {
            background-color: #7bb7f8;
            p {
                color: #002060;
            }
        }
        .card-header {
            p {
                margin: 0;
                padding: 0;
                font-size: 16px;
                font-weight: bold;
                text-align: center;
            }
        }
        .card-body {
            padding: 24px;
            p {
                text-align: center;
                .price {
                    margin-right: 8px;
                    color: red;
                    font-size: 32px;
                }
            }
        }
    }
}