<div *ngIf="isEnable" class="invoicetTable fixMember">
    <div class="print-lg">
        <div *ngFor="let title of fixMember_typeNum; index as i">
            <table>
                <div *ngIf="dimension===3">
                    <thead>
                        <div *ngIf="i==0">
                            <h2>バネデータ</h2>
                        </div>
                        <tr>
                            <th colspan="7" style="text-align: left">タイプ{{title}}</th>
                        </tr>
                        <tr>
                            <th class="id">部材No</th>
                            <th class="TX">TX</th>
                            <th class="TY">TY</th>
                            <th class="TZ">TZ</th>
                            <th class="TR">TR</th>
                        </tr>
                        <tr>
                            <th class="id"></th>
                            <th class="TX">(kN/㎡)</th>
                            <th class="TY">(kN/㎡)</th>
                            <th class="TZ">(kN/㎡)</th>
                            <th class="TR">(kN/rad)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let dataset of fixMember_table[i]">
                            <td class="id">{{dataset[0]}}</td>
                            <td class="TX">{{dataset[1]}}</td>
                            <td class="TY">{{dataset[2]}}</td>
                            <td class="TZ">{{dataset[3]}}</td>
                            <td class="TR">{{dataset[4]}}</td>
                        </tr>
                    </tbody>
                </div>
                <div *ngIf="dimension===2">
                    <thead>
                        <tr>
                            <th colspan="3" style="text-align: left">タイプ{{title}}</th>
                        </tr>
                        <tr>
                            <th class="id">部材No</th>
                            <th class="TX">TX</th>
                            <th class="TY">TY</th>
                        </tr>
                        <tr>
                            <th class="id"></th>
                            <th class="TX">(kN/㎡)</th>
                            <th class="TY">(kN/㎡)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let dataset of fixMember_table[i]">
                            <td class="id">{{dataset[0]}}</td>
                            <td class="TX">{{dataset[1]}}</td>
                            <td class="TY">{{dataset[2]}}</td>
                        </tr>
                    </tbody>
                </div>
            </table>
        </div>
    </div>
</div>